{% extends 'main.html' %}

{% block content %}

{%  load crispy_forms_tags %}
 <h3>Password Reset</h3>
<form method="POST" >
    {% csrf_token %}
          <div class="row">
              <div class="col-6">
                {{ form.new_password1| as_crispy_field }}
              </div>
		  </div>
			<div class="row">
              <div class="col-6">
                {{ form.new_password2| as_crispy_field }}
              </div>
          </div>
    <button type="submit" class="btn btn-success">Save</button>

    {% for message in messages %}
    <p class="text-center">  {{ message }} </p>
    {% endfor %}
 </form>
{% endblock content %}