{% extends 'main.html' %}

{% block content %}

{%  load crispy_forms_tags %}

<div class="d-flex justify-content-center m-5">

<form method="POST" >
    {% csrf_token %}
          <h3 class="text-center">Password Change</h3>

          <div class="row">
              <div class="col-6">
                  {{ form.old_password|as_crispy_field }}
              </div>
          </div>
          <div class="row">
              <div class="col-6">
                {{ form.new_password1|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.new_password2|as_crispy_field }}
              </div>
          </div>
    <button type="submit" class="btn btn-success">Save</button>

    {% for message in messages %}
    <p class="text-center">  {{ message }} </p>
    {% endfor %}
 </form>
</div>
{% endblock content %}